.contact-title{
    margin-top: 5%;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #05478e;
    font-family: "Open Sans", sans-serif;
    line-height: var(--bs-body-line-height);
} 
.contact-body {
    margin: 0% 0% 2% 0%;
  }
  .messageSuccess{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: button .3s linear;
    display: none;
  }
  .messageFails{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: button .3s linear;
    display: none;
  }
.mail {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  input,textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
  }
@media screen and (max-width: 376px) {

}
@media screen and (max-width: 910px){
    .contact-title{
        margin-top: 95px;
    }
}
@media  (min-width:315px) and (max-width:350px) {
    .contact-title{
        margin-top: 95px;
    }
}
@media (width:820px) {
    .contact-title{
        margin-top: 95px;
    }
}
@media (width:540px) {
    .contact-title{
        margin-top: 95px;
    }
}
@media (width:768px) {
    .contact-title{
        margin-top: 95px;
    }
}
@media (width:912px){
    .contact-title{
        margin-top: 95px;
    }
}

